<context id="swarm_sim" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type="continuous space" id="space"/>
  	<projection type="value layer" id="explored_area"/>
  	<projection type="network" id="comm_network"/>
  	<projection type="geography" id="geography" />
</context>
